node_modules
**/node_modules
.git
.turbo
**/.turbo
**/.tsout
**/dist
**/out
release
coverage
**/coverage
tests
docs
.github
.claude
.cursor
*.log
.env
.env.*
**/__screenshots__
**/test-results
**/playwright-report
